{% extends "bases/bootstrap-visitor.html" %}

{% block content %}

<div class="container">

<p>
  This website is powered by Django and it uses allauth API.<br>
  <p>Django is a free and open-source python based web framework that obeys the model-template-views (MTV) design pattern. It is maintained by an independent organization founded as a non-profit named Django Software Foundation (DSF).</p>
  <p>AllAuth API is an integrated assortment of Django applications addressing authentication, registration, account administration, and 3rd party (social) account authentication. It allows one to access OAuth authentication functionality of popular social networking sites.</p>
  <p>OAuth is an open standard for access authorization for users, which is used to grant websites or applications access to their information on separate websites without giving them the passwords. Companies like Amazon, Facebook, Google, Microsoft and Twitter permit the users to share information about their accounts with third-party applications or websites.</p>
  <a href="https://github.com/dhatwalia">Github</a>
</p>

</div>

{% endblock %}


